<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <img
          class="header-logo-img"
          src="./img/logo.svg"
          alt="logo of company"
        />
      </a>
      <ul class="header-menu">
        <li class="heder-menu-item">
          <a class="hr-menu-item-link" href="">about us</a>
        </li>
        <li class="heder-menu-item">
          <a class="hr-menu-item-link" href="">our collection</a>
        </li>
        <li class="heder-menu-item">
          <a class="hr-menu-item-link" href="">customer order</a>
        </li>
        <li class="heder-menu-item">
          <a class="hr-menu-item-link" href="">testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a class="heder-address-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>
    <ul class="hesder-social-list">
      <li class="hr-social-list-item">
        <a
          class="hr-social-list-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="hr-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hr-social-list-item">
        <a
          class="hr-social-list-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="hr-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hr-social-list-item">
        <a
          class="hr-social-list-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="hr-social-list-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-menu-open-btn">
      <svg class="hr-menu-open-icon" width="36" height="24">
        <use href="./img/sprite.svg#icon-nav-buton"></use>
      </svg>
    </button>
  </div>
  <!-- =============================================================== -->
  <div class="mobile-menu is-open">
    <div class="mobile-container">
      <button class="mobile-close-button">
        <svg class="mobile-close-icon" width="36" height="36">
          <use href="./img/sprite.svg#icon-close-buton"></use>
        </svg>
      </button>
      <a class="mobile-phone-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
      <ul class="mobile-list">
        <li class="mobile-list-item">
          <a href="#about-us-section-link" class="mobile-list-link first-js"
            >About us</a
          >
        </li>
        <li class="mobile-list-item">
          <a href="" class="mobile-list-link mobile-colection"
            >Our collection
          </a>
        </li>
        <li class="mobile-list-item">
          <a href="" class="mobile-list-link">CUSTOMER ORDER</a>
        </li>
        <li class="mobile-list-item">
          <a href="#your-order-section" class="mobile-list-link"
            >TEstimonials</a
          >
        </li>
      </ul>
      <div class="mobile-backgraound-png"></div>
    </div>
  </div>
</header>
